@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Bold.woff2") format("woff2"),
    url("../fonts/Barlow-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Barlow";
  src: url("../fonts/Barlow-Medium.woff2") format("woff2"),
    url("../fonts/Barlow-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Black.woff2") format("woff2"),
    url("../fonts/Fraunces-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces-Medium.woff2") format("woff2"),
    url("../fonts/Fraunces-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  margin: 0px;
}

.header__logo {
  display: block;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 44px 0px;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav__item {
  margin: 0;
  padding: 0;
  margin-left: 32px;
}

.nav__link {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  border: none;
  color: #83888f;
}

.nav__link-header:hover {
  color: #333d4b;
}

.intro__title {
  font-family: "Fraunces";
  padding: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #fefcf7;
  width: 493px;
  margin: 0px;
}

.intro__discription {
  line-height: 26px;
  color: #fefcf7;
  mix-blend-mode: normal;
  opacity: 0.8;
  width: 445px;
  margin-bottom: 56px;
}

.intro__container {
  background-image: url(../img/intro-img.png);
  width: 1280px;
  height: 600px;
  background-repeat: no-repeat;
  padding-top: 20px;
}

.crate-plan {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
  text-align: center;
  color: #fefcf7;
  padding: 16px 31px;
  background: #0e8784;
  border-radius: 6px;
}

.crate-plan:hover {
  background: #66d2cf;
  border-radius: 6px;
}

.intro__content {
  margin: 117px 85px;
  width: 495px;
}

.intro__crate-plan {
  margin-bottom: 132px;
}

.collection__container {
  position: relative;
}

.collection__name {
  font-family: "Fraunces";
  font-style: normal;
  font-size: 150px;
  line-height: 72px;
  margin: 0px;
  margin-top: 136px;
  text-align: center;
  color: #83888f;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.collection__name::before {
  content: "";
  display: block;
  position: absolute;
  width: 1111px;
  height: 196px;
  top: -100px;
  background: linear-gradient(
    180deg,
    rgba(254, 252, 247, 0.0001) 0%,
    #fefcf7 100%
  );
}

.collection__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0px;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: -20px;
}

.collection__item {
  display: flex;
  flex-direction: column;
  margin-right: 27px;
  margin-bottom: 25px;
  z-index: 1;
}

.collection__item:nth-child(4n),
.collection__item:last-child {
  margin-right: 0;
}

.collection__item-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  margin: 0px;
  text-align: center;
  margin-top: 70px;
  color: #333d4b;
}

.collection__item-discripton {
  line-height: 26px;
  margin-top: 24px;
  width: 255px;
  text-align: center;
  color: #333d4b;
}

.why-choose__container {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.why-choose__name {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  margin-top: 100px;
}

.why-choose__discription {
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  width: 540px;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin-left: 370px;
}

.why-choose__container::before {
  content: "";
  position: absolute;
  display: block;
  width: 1280px;
  height: 577px;
  background-color: #2c343e;
  border-radius: 10px;
  z-index: -1;
}

.why-choose__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 56px;
  width: 1110px;
  margin-left: 85px;
  margin-right: 85px;
  justify-content: center;
}

.why-choose__item {
  width: 350px;
  margin-right: 30px;
  background-color: #0e8784;
  border-radius: 8px;
  margin-top: 30px;
  text-align: center;
}

.why-choose__item:nth-child(3n),
.why-choose__item:last-child {
  margin-right: 0px;
}

.why-choose__item--cacaoo {
  background-image: url(../img/cacaoo.svg);
  display: block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 72px;
}

.why-choose__item--price {
  background-image: url(../img/price.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 72px;
  display: block;
}

.why-choose__item--truck {
  background-image: url(../img/truck.svg);
  display: block;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 72px;
}

.why-choose__list-title {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  margin-top: 200px;
  text-align: center;
  color: #fefcf7;
}

.why-choose__item-discription {
  line-height: 26px;
  /* or 162% */
  margin-top: 24px;
  text-align: center;
  margin-bottom: 48px;
  color: #fefcf7;
  width: 255px;
  margin-left: 47px;
}

.how-it__container {
  position: relative;
  padding-bottom: 216px;
  padding-left: 85px;
}

.how-it__name {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 178px;
}

.how-it__num {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  /* identical to box height, or 100% */
  margin: 0px;
  color: #fdd6ba;
}

.how-it__list {
  width: 1111px;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  /* margin-left: 85px; */
  margin-right: 85px;
  margin-bottom: 64px;
}

.how-it__item {
  padding: 0px;
  margin: 0px;
  width: 300px;
  text-align: left;
  margin-right: 95px;
}

.how-it__item:nth-child(3n),
.how-it__item:last-child {
  margin-right: 0px;
}

.how-it__item-name {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  /* or 112% */
  width: 255px;
  margin-top: 38px;
  margin-bottom: 42px;
  color: #333d4b;
}

.how-it__item-discription {
  margin: 0px;
  line-height: 26px;
  color: #333d4b;
}

.how-it__list::before {
  content: "";
  position: absolute;
  display: block;
  width: 790px;
  background-color: #fdd6ba;
  height: 1px;
  top: 150px;
  left: 95px;
  border: 2px solid #fdd6ba;
}

.how-it__item::before {
  content: "";
  position: absolute;
  display: block;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #fefcf7;
  top: 138px;
  border: 2px solid #0e8784;
  box-sizing: border-box;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer__container {
  padding: 48px 0px;
  background-color: #2c343e;
}

.social__link {
  margin-left: 24px;
}

.footer__nav {
  margin-right: 340px;
}

.nav__link-footer:hover {
  color: #fefcf7;
}
